body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

h1 {
    margin-top: 30px;
}

.box {
    background: white;
    width: 300px;
    margin: auto;
    padding: 20px;
    border-radius: 10px;
}

input, textarea {
    width: 90%;
    padding: 8px;
}

#preview {
    margin-top: 20px;
    padding: 15px;
    border: 1px solid #ccc;
    background: #f9f9f9;
}